@import "tailwindcss";

:root {
  --color3: #00C2B8;
  --color4: #007A74;
  --color5: #025CD3;
  --color6: #203858;
  --color7: #16263C;
  --color8: #142234;
  --color9: #202020;

  --background: #025CD3;
  --foreground: #1E557A;
  --foreground-border: #12354c;
  --project-card: #0F7281;
  --project-card-border: #00C2B8;
  
  --text: #FAFBFA;
  --heading-text: #cdfa05;

  --header-footer: #203858;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --text: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

/* Text Components */

h1 {
  font-size: 60px;
  font-weight: bold;
}

/* @media (max-width: 650px) {
  h1 {
    font-size: 40px;
  }
} */

h2 {
  font-size: 30px;
  font-weight: bold;
}

/* @media (max-width: 650px) {
  h2 {
    font-size: 20px;
  }
} */

h3 {
  font-size: 20px;
  font-weight: bold;
}

/* @media (max-width: 650px) {
  h3 {
    font-size: 14px;
  }
} */

p {
  font-size: 16px;
}

/* @media (max-width: 650px) {
  p {
    font-size: 11px;
  }
} */

a {
  color:#00C2B8;
}

a:hover {
  color:#00F5E9;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

/* Animations */

@keyframes slide-from-bottom {
  0% {display: none; opacity: 0%;}
  1% {display: inline; opacity: 0%; transform: translateY(40);}
  100% {opacity: 100%; transform:translateY(0);}
}

@keyframes grow-5-percent {
  0% {transform: scale(1);}
  100% {transform: scale(1.05);}
}

@keyframes grow-10-percent {
  0% {transform: scale(1);}
  100% {transform: scale(1.1);}
}

/* ClassNames */

/* Three-column Format */

.middle-column {
  max-width: 70%;
  height: fit-content;
  margin: auto;
}

@media (max-width: 650px) {
  .middle-column {
    max-width: 100%;
  }
}

/* Generic */

hr {
  width: 100%;
  margin-top: 6px;
  margin-bottom: 20px;
}

.section-header {
  max-width: fit-content;
  height: fit-content;
  margin-top: 40px;
  margin-left: auto;
  margin-bottom: 40px;
  margin-right: auto;
  color: var(--heading-text);
}

.section-header p {
  color: var(--text);
}

.foreground-section {
  background: var(--foreground);
  height: fit-content;
  padding: 20px;
  margin: auto;
  border: 10px solid var(--foreground-border);
  border-radius: 20px;
}

.foreground-section .section-header {
  color: var(--text);
}

.h-centered-grid-section {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  justify-content: center;
}

.hv-centered-grid-section {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.h-right-grid-section {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  justify-content: right;
  padding: 20px;
}

/* Project Card */

.project-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-card {
  background: var(--project-card);
  border: 5px solid var(--project-card-border);
  border-radius: 15px;
  max-width: 300px;
  min-height: 350px;
  padding: 10px;
  color: var(--text);
}

.project-card:hover {
  animation-name: grow-5-percent;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.project-card-img {
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
  aspect-ratio: 16/9;
}

/* Project Page */

.project-page-img {
  margin: auto;
  width: 600px;
}

.project-overview-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logistics-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Tag Boxes */

.tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  gap: 6px;
}

.tag-type {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 8px;
  width: fit-content;
  font-size: 14px;
  background: #C84B4B;
  white-space: pre;
}

.tag-role {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 8px;
  width: fit-content;
  font-size: 14px;
  background: #5EC737;
  white-space: pre;
}

.tag-tool {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 8px;
  width: fit-content;
  font-size: 14px;
  background: #DF19E7;
  white-space: pre;
}

.tag-language {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 8px;
  width: fit-content;
  font-size: 14px;
  background: #5470DE;
  white-space: pre;
}

/* About Me */

.about-me-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.profile-img {
  border-radius: 20px;
  width: 100%;
  max-height: 400px;
  aspect-ratio: 1 / 1;
  border: 5px solid var(--project-card-border)
}

.about-me-text {
  max-width: 400px;
  text-align: left;
}

.skill-container {
  display: flex;
  gap: 2%;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  overflow: hidden;
}

.skill-img-div {
  min-width: 0;
}

.skill-img {
  width: 100%;
  max-height: 100px;
}

.skill-img-language {
  width: 100%;
  max-height: 80px;
}

/* Not Found */

.not-found-section {
  margin: 200px;
}

.not-found-section h1 {
  color: #939393;
}

/* Style */

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hyperlink-button {
  padding: 10px;
  background: var(--project-card);
  border-radius: 6px;
  border: 2px solid var(--project-card-border);
  cursor: pointer;
  text-align: center;
}

.hyperlink-button-large {
  padding: 10px;
  background: var(--project-card);
  border-radius: 6px;
  border: 2px solid var(--project-card-border);
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.text-align-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.flex-div {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.align-content-center {
  align-content: center;
}

.justify-content-center {
  justify-content: center;
}

.margin-auto {
  margin: auto;
}

.text-underline {
  text-decoration: underline;
}

.text-italic {
  font-style: italic;
}

.width-fit-content {
  width: fit-content;
}

.padding-20px {
  padding: 20px;
}

.width-75 {
  width: 75%;
}