@import "tailwindcss";

:root {
  --background: #0066A5;
  --header-footer: #203858;
  --foreground: #FCFF99;
  --foreground-border: #1B998B;
  --project-card: #3F6634;
  --project-card-border: #77ba62;

  
  --light-text: #FAFBFA;
  --dark-text: #202020;
  --heading-text: #FFF700;
  --hyperlink-text: #00C2B8;
  --hyperlink-text-hover: #00F5E9;
  --not-found-text: #939393;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --text: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--dark-text);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background: var(--foreground);
  height: fit-content;
  padding: 1em;
  margin: auto;
  /* border: 0.5em solid var(--foreground-border); */
  border-radius: 1.5em;
  color: var(--dark-text);
  margin-top: 2em;
  margin-bottom: 2em;
}

main .section-header {
  color: var(--text);
}

/* Text Components */

h1 {
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 16px;
}

a {
  color: var(--hyperlink-text);
}

a:hover {
  color: var(--hyperlink-text-hover);
}

hr {
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

/* Animations */

@keyframes slide-from-bottom {
  0% {display: none; opacity: 0%;}
  1% {display: inline; opacity: 0%; transform: translateY(40);}
  100% {opacity: 100%; transform:translateY(0);}
}

@keyframes grow-5-percent {
  0% {transform: scale(1);}
  100% {transform: scale(1.05);}
}

@keyframes grow-10-percent {
  0% {transform: scale(1);}
  100% {transform: scale(1.1);}
}

/* ClassNames */

/* Three-column Format */

.middle-column {
  max-width: 70%;
  height: fit-content;
  margin: auto;
}

@media (max-width: 650px) {
  .middle-column {
    max-width: 90%;
  }
}

/* Generic */

.section-header {
  max-width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: var(--heading-text);
}

.section-header p {
  color: var(--light-text);
}

/* Project Card */

.project-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.project-card {
  background: var(--project-card);
  border: 0.25rem solid var(--project-card-border);
  border-radius: 1em;
  max-width: 20em;
  min-height: 22.5em;
  padding: 0.5em;
  color: var(--light-text);
}

.project-card:hover {
  animation-name: grow-5-percent;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.project-card .project-image {
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 0.5rem;
  aspect-ratio: 16/9;
}

/* Project Page */

.project-overview-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  gap: 2em;
  width: 100%;
  height: 25em;
}

@media (max-width: 650px) {
  .project-overview-container {
    justify-content: center;
  }
}

.logistics-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.logistics-container .button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

/* Tag Boxes */

.tag-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  gap: 0.4em;
  color: var(--light-text);
}

.tag-type {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.5em;
  width: fit-content;
  background: #C84B4B;
  white-space: pre;
}

.tag-role {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.5em;
  width: fit-content;
  background: #5EC737;
  white-space: pre;
}

.tag-tool {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.5em;
  width: fit-content;
  background: #DF19E7;
  white-space: pre;
}

.tag-language {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.5em;
  width: fit-content;
  background: #5470DE;
  white-space: pre;
}

/* About Me */

.about-me-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.profile-img {
  border-radius: 2em;
  width: 100%;
  max-height: 25em;
  aspect-ratio: 1 / 1;
  border: 0.25em solid var(--project-card-border)
}

.about-me-text {
  max-width: 25em;
  text-align: left;
}

.skill-container {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  overflow: hidden;
}

.responsive-img-container {
  min-width: 0;
}

.skill-img {
  width: 100%;
  max-height: 6em;
}

.skill-img-language {
  width: 100%;
  max-height: 4em;
}

/* Not Found */

.not-found-section {
  margin: 13em;
}

.not-found-section main {
  background: none;
  border: none;
}

.not-found-section .section-header {
  color: var(--not-found-text);
}

/* Style */

.button-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 1em;
}

.hyperlink-button {
  padding: 0.5em;
  background: var(--project-card);
  border-radius: 0.5em;
  border: 0.25rem solid var(--project-card-border);
  cursor: pointer;
  text-align: center;
}

.hyperlink-button-large {
  font-size: 30px;
  padding: 0.5em;
  background: var(--project-card);
  border-radius: 0.5em;
  border: 0.25rem solid var(--project-card-border);
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.text-align-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.flex-div {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.align-content-center {
  align-content: center;
}

.justify-content-center {
  justify-content: center;
}

.margin-auto {
  margin: auto;
}

.text-underline {
  text-decoration: underline;
}

.text-italic {
  font-style: italic;
}

.width-fit-content {
  width: fit-content;
}

.width-75 {
  width: 75%;
}