@import "tailwindcss";

:root {
  --color1: #cdfa05;
  --color2: #FAFBFA;
  --color3: #00C2B8;
  --color4: #007A74;
  --color5: #025CD3;
  --color6: #203858;
  --color7: #16263C;
  --color8: #142234;
  --color9: #202020;

  --background: #0063D1;
  --section-header: #050062;
  --project-card: #006CE0;
  --project-card-border: #0059B8;
  --foreground: #00317E;
  --foreground-border: #002752;
  --border: #001c29;
  --text: #FAFBFA;
  --header: #b5b5b5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --text: #ededed;
  }
}

body {
  background: var(--color5);
  color: var(--color2);
  font-family: Arial, Helvetica, sans-serif;
}

/* Text Components */

h1 {
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 16px;
}

a {
  color:#e5a7e3;
}

a:hover {
  color:#ffdbfe;
}

/* Animations */

@keyframes slide-from-bottom {
  0% {display: none; opacity: 0%;}
  1% {display: inline; opacity: 0%; transform: translateY(40);}
  100% {opacity: 100%; transform:translateY(0);}
}

@keyframes grow-5-percent {
  0% {transform: scale(1);}
  100% {transform: scale(1.05);}
}

@keyframes grow-10-percent {
  0% {transform: scale(1);}
  100% {transform: scale(1.1);}
}

/* ClassNames */

/* Three-column Format */

.middle-column {
  width: 70%;
  height: fit-content;
  margin: auto;
}

/* Generic */

hr {
  width: 100%;
  margin-top: 6px;
  margin-bottom: 20px;
}

.section-header {
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-bottom: 20px;
  margin-right: auto;
  color: var(--color1);
}

.section-header p {
  color: var(--color2);
}

.foreground-section {
  background: var(--color6);
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin: auto;
  border: 10px solid var(--color7);
  border-radius: 20px;
}

.foreground-section .section-header {
  color: var(--color2);
}

.h-centered-grid-section {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  justify-content: center;
  padding: 20px;
}

.hv-centered-grid-section {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.h-right-grid-section {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  justify-content: right;
  padding: 20px;
}

/* Projects */

.project-card {
  background: var(--color3);
  border: 5px solid var(--color4);
  border-radius: 15px;
  width: 300px;
  height: fit-content;
  padding: 10px;
  color: var(--color9);
}

.project-card:hover {
  animation-name: grow-5-percent;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.project-card-img {
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
  aspect-ratio: 16/9;
}

.project-page-img {
  margin: auto;
  width: 600px;
}

/* Tag Boxes */

.tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  gap: 6px;
}

.tag-type {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 8px;
  width: fit-content;
  font-size: 14px;
  background: #C84B4B;
  white-space: pre;
}

.tag-role {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 8px;
  width: fit-content;
  font-size: 14px;
  background: #5EC737;
  white-space: pre;
}

.tag-tool {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 8px;
  width: fit-content;
  font-size: 14px;
  background: #DF19E7;
  white-space: pre;
}

.tag-language {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 8px;
  width: fit-content;
  font-size: 14px;
  background: #5470DE;
  white-space: pre;
}

/* About Me */

.profile-img {
  border-radius: 20px;
  width: 400px;
  aspect-ratio: 1 / 1;
}

.about-me-text {
  max-width: 400px;
  text-align: left;
}

.skill-img {
  height: 100px;
}

/* Style */

.hyperlink-button {
  padding: 10px;
  background: var(--color3);
  border-radius: 6px;
  border: 2px solid var(--color4);
  color: var(--color9);
  cursor: pointer;
}

.text-align-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.flex-div {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.align-content-center {
  align-content: center;
}

.justify-content-center {
  justify-content: center;
}

.margin-auto {
  margin: auto;
}

.text-underline {
  text-decoration: underline;
}

.text-italic {
  font-style: italic;
}

.width-fit-content {
  width: fit-content;
}

.padding-20px {
  padding: 20px;
}

.color-color2 {
  color: var(--color2);
}