@import "tailwindcss";

header {
  z-index: 100;
  position: sticky;
  top: 0;
  background: var(--header-footer);
  color: var(--light-text);
  opacity: 80%;
  width: 100%;
}

header:hover {
  opacity: 100%;
}

.nav-bar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Desktop Navigation */

.nav-button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Mobile Navigation */

.hamburger-menu {
  background: var(--header-footer);
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 100%;
  font-size: 30px;
  font-weight: bold;
}

.hamburger-menu-icon {
  color: var(--light-text);
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.hamburger-menu-icon span {
  background: var(--light-text);
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 10px;
}

.mobile-nav-button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
}

.mobile-nav-button {
  font-weight: bold;
}

@media (max-width: 650px) {
  .nav-button-container {
    display: none;
  }
}

@media (min-width: 650px) {
  .hamburger-menu {
    display: none;
  }

  .mobile-nav-button-container {
    display: none;
  }
}