@import "tailwindcss";

header {
  background: var(--color7);
  opacity: 80%;
  width: 100%;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}

header:hover {
  opacity: 100%;
}

header nav {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}