@import "tailwindcss";

header {
  z-index: 100;
  position: sticky;
  top: 0;
}

.header-section {
  background: var(--header-footer);
  opacity: 80%;
  width: 100%;
  padding: 10px;
}

@media (max-width: 650px) {
  .header-section {
    display: none;
  }
}

.header-section:hover {
  opacity: 100%;
}

.header-section nav {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}