@import "tailwindcss";

form {
    width: 60vw;
    background: var(--foreground);
    padding: 1em;
    border-radius: 1em;
    margin: auto;
    color: var(--dark-text);
}

@media (max-width: 650px) {
  form {
    width: 90vw;
  }
}

form button {
    color:var(--hyperlink-text);
    padding: 0.5em;
    background: var(--project-card);
    border-radius: 0.5em;
    border: 0.25em solid var(--project-card-border);
    cursor: pointer;
    box-shadow: 0em 0.2em 0.5em #555;

    animation-name: shrink-5-percent;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

form button:hover {
  animation-name: grow-5-percent;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

form button:hover {
    color:var(--hyperlink-text-hover);
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info-input-container {
    width: 40%;
}

.input-box {
    margin-top: 1em;
}

.field {
    width: 100%;
    height: 2.5em;
    background: var(--project-card);
    color: black;
    border: 0.15em solid var(--project-card-border);
    outline: none;
    border-radius: 0.3em;
    padding: 1em;
    margin-top: 0.2em;
    box-shadow: 0em 0.2em 0.5em #555;
}

.message-input-box {
    margin-top: 1em;
    width: 55%;
}

.field.message {
    height: 15em;
}

.contact-form-sent {
    width: 50%;
    background: var(--foreground);
    height: fit-content;
    padding: 1em;
    margin: auto;
    border-radius: 1em;
    color: var(--dark-text);
    margin-top: 2em;
    margin-bottom: 2em;
}

@media (max-width: 650px) {
    .input-container {
        display: block;
    }

    .info-input-container {
        width: 100%;
    }

    .message-input-box {
        width: 100%;
    }
}