@import "tailwindcss";

form {
    width: 50%;
    background: var(--foreground);
    padding: 1em;
    border-radius: 1em;
    margin: auto;
    color: var(--dark-text);
}

@media (max-width: 650px) {
  form {
    width: 100%;
  }
}

form button {
    color:var(--hyperlink-text);
    padding: 0.5em;
    background: var(--project-card);
    border-radius: 0.5em;
    border: 0.25em solid var(--project-card-border);
    cursor: pointer;
}

form button:hover {
    color:var(--hyperlink-text-hover);
}

.input-box {
    margin-top: 1em;
}

.input-box .field {
    width: 100%;
    height: 2.5em;
    background: var(--light-text);
    color: black;
    border: 0.15em solid var(--project-card-border);
    outline: none;
    border-radius: 0.3em;
    padding: 1em;
    margin-top: 0.2em;
}

.input-box .field.message {
    height: 15em;
}

.contact-form-sent {
    width: 50%;
    background: var(--foreground);
    height: fit-content;
    padding: 1em;
    margin: auto;
    border-radius: 1em;
    color: var(--dark-text);
    margin-top: 2em;
    margin-bottom: 2em;
}