@import "tailwindcss";

footer {
  background: var(--color7);
  width: 100%;
  margin-top: 20px;
  padding: 20px;
}

/* Social Links */

.social-link-container {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  justify-content: center;
  animation-name: slide-from-bottom;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.social-link:hover {
  animation-name: grow-10-percent;
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}