@import "tailwindcss";

footer {
  background: var(--header-footer);
  width: 100%;
  padding: 1em;
  color: var(--light-text);
}

/* Social Links */

.social-link-container {
  display: flex;
  gap: 1em;
  justify-content: center;
  animation-name: slide-from-bottom;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.social-link {
  animation-name: shrink-10-percent;
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.social-link:hover {
  animation-name: grow-10-percent;
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}